
# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # ------------- Tests ----------------
      - name: test and16
        run: |
          pytest hw/test_components.py -k and16

      - name: test mux2way
        run: |
          pytest hw/test_components.py -k mux2way
        
      - name: test mux4way
        run: |
          pytest hw/test_components.py -k mux4way

      - name: test mux8way
        run: |
          pytest hw/test_components.py -k mux8way
        
      - name: test or8way
        run: |
          pytest hw/test_components.py -k or8way

      - name: test orNway
        run: |
          pytest hw/test_components.py -k orNway

      - name: test barrelShifter
        run: |
          pytest hw/test_components.py -k barrelShifter

      - name: test deMux2way
        run: |
          pytest hw/test_components.py -k deMux2way

      - name: test deMux4way
        run: |
          pytest hw/test_components.py -k deMux4way

      - name: test deMux8way
        run: |
          pytest hw/test_components.py -k deMux8way






