
# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # ------------- Tests ----------------
      # - name: test and16
      #   run: |
      #     pytest hw/test_components.py -k and16

      # - name: test mux2way
      #   run: |
      #     pytest hw/test_components.py -k mux2way
        
      # - name: test mux4way
      #   run: |
      #     pytest hw/test_components.py -k mux4way

      # - name: test mux8way
      #   run: |
      #     pytest hw/test_components.py -k mux8way
        
      # - name: test or8way
      #   run: |
      #     pytest hw/test_components.py -k or8way

      # - name: test orNway
      #   run: |
      #     pytest hw/test_components.py -k orNway

      # - name: test barrelShifter
      #   run: |
      #     pytest hw/test_components.py -k barrelShifter

      # - name: test deMux2way
      #   run: |
      #     pytest hw/test_components.py -k deMux2way

      # - name: test deMux4way
      #   run: |
      #     pytest hw/test_components.py -k deMux4way

      # - name: test deMux8way
      #   run: |
      #     pytest hw/test_components.py -k deMux8way

      # - name: test bin2bcd
      #   run: |
      #     pytest hw/test_components.py -k bin2bcd

    # testes da ULA #

      # - name: test zerador
      #   run: |
      #     pytest hw/test_ula.py -k zerador

      # - name: test comparador
      #   run: |
      #     pytest hw/test_ula.py -k comparador

      # - name: test inversor
      #   run: |
      #     pytest hw/test_ula.py -k inversor
      
      # - name: test add
      #   run: |
      #     pytest hw/test_ula.py -k add

      # - name: test inc
      #   run: |
      #     pytest hw/test_ula.py -k inc

      # - name: test ula
      #   run: |
      #     pytest hw/test_ula.py -k ula

      # - name: test xor
      #   run: |
      #     pytest hw/test_ula.py -k xor
      
      # - name: test new_ula
      #   run: |
      #     pytest hw/test_ula.py -k new_ula
      
      # - name: test bcdAdder
      #   run: |
      #     pytest hw/test_ula.py -k bcdAdder

      # - name: test addcla4
      #   run: |
      #     pytest hw/test_ula.py -k addcla4

      # - name: test addcla16
      #   run: |
      #     pytest hw/test_ula.py -k addcla16
        
      # testes do SEQ #

      # - name: test binaryDigit
      #   run: |
      #     pytest hw/test_seq.py -k binaryDigit

      # - name: test register8
      #   run: |
      #     pytest hw/test_seq.py -k register8
        
      # - name: test registerN
      #   run: |
      #     pytest hw/test_seq.py -k registerN
      
      # - name: test pc
      #   run: |
      #     pytest hw/test_seq.py -k pc

      # - name: test ram
      #   run: |
      #     pytest hw/test_seq.py -k ram
      
      # Testes Assembler ##########################################
      - name: test init
        run: |
          pytest sw/assembler/test_symboltable.py -k test_init
        
      - name: test addEntry
        run: |
          pytest sw/assembler/test_symboltable.py -k test_addEntry

      - name: test contains
        run: |
          pytest sw/assembler/test_symboltable.py -k test_contains

      - name: test getAddress
        run: |
          pytest sw/assembler/test_symboltable.py -k test_getAddress


